# =================== Custom ==================
*.jpg
*.JPG
*.txt
img/background/*
resources/*
backup/*
~*

# =================== Linux ===================
.*
!.gitignore
*~
 
# =================== OSX ===================
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
